<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">
          <div class="hero-profile">
            <div class="hero-img">
              {% if site.profile_img != '' %}
              <img class="img-responsive" src="img/{{site.profile_img}}.jpg">
              {% endif -%}
            </div>
            <div class="hero-contact">
              {% if site.title != '' %}
              <h4 class="text-center">{{site.title}}</h4>
              {% endif %}
              {% if site.organization != '' %}
              <p class="text-center">{{site.organization}}</p>
              {% endif %}
              {% if site.email != '' %}
              <p class="text-center">{{site.email}}</p>
              {% endif %}
            </div>
          </div>

          <img class="img-responsive"  src="img/pipeline.png">
          <p class="text-center">
            {% if site.description != '' %}
            {{site.description}}
            {% endif %}
          </p>
          
          <div class="hero-buttons">
            {% if site.scholar_userid != '' %}
            <a href="https://scholar.google.com/citations?user={{site.scholar_userid }}"><button class="btn btn-default btn-lg"><i class="fa fa-google fa-lg"></i>Scholar</button></a>
            {% endif %}
            {% if site.linkedin_username != '' %}
            <a href="hhttps://www.linkedin.com/in/{{site.linkedin_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i>LinkedIn</button></a>
            {% endif %}
            {% if site.github_username != '' %}
              <a href="https://github.com/{{ site.github_username }}"><button class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i>Github</button></a>
            {% endif %}
          </div>

        </div>

      </div>

      <a class="section-jump text-center" href="#portfolio">
        <i class="fa fa-angle-down fa-3x"></i>
      </a>

    </div>

  </div>

</div>
